html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, "sans-serif";
}

main {
  position: relative;
}

img {
  width: 100%;
}

section {
  div {
    display: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.pr-2 {
  div {
    @media only screen and (min-width: 2560px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2) {
      &:nth-child(1) {
        display: block;
      }
    }
    @media only screen and (min-width: 1920px) and (max-width: 2559px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2) {
      &:nth-child(1) {
        display: block;
      }
    }
    @media only screen and (min-width: 1199px) and (max-width: 1919px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  {
      &:nth-child(1) {
        display: block;
      }
    }
    @media only screen and (min-width: 991px) and (max-width: 1198px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  {
      &:nth-child(2) {
        display: block;
      }
    }
    @media only screen and (min-width: 767px) and (max-width: 990px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  {
      &:nth-child(3) {
        display: block;
      }
    }
    @media only screen and (min-width: 576px) and (max-width: 766px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  {
      &:nth-child(4) {
        display: block;
      }
    }
    @media only screen and (max-width: 575px) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  {
      &:nth-child(5) {
        display: block;
      }
    }
  }
}
.pr-1 {
  div {
    @media only screen and (min-width: 2560px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(1) {
        display: block;
      }
    }
    @media only screen and (min-width: 1920px) and (max-width: 2559px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(1) {
        display: block;
      }
    }
    @media only screen and (min-width: 1199px) and (max-width: 1919px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(1) {
        display: block;
      }
    }
    @media only screen and (min-width: 991px) and (max-width: 1198px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(2) {
        display: block;
      }
    }
    @media only screen and (min-width: 767px) and (max-width: 990px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(3) {
        display: block;
      }
    }
    @media only screen and (min-width: 576px) and (max-width: 766px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(4) {
        display: block;
      }
    }
    @media only screen and (max-width: 575px) and (-webkit-max-device-pixel-ratio: 1) {
      &:nth-child(5) {
        display: block;
      }
    }
  }
}
